//colors
$darkblue: hsl(233, 26%, 24%);
$limegreen: hsl(136, 65%, 51%);
$brightcyan: hsl(192, 70%, 51%);
$grayishblue: hsl(233, 8%, 62%);
$lighgrayishblue: hsl(220, 16%, 96%);
$lightgray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

//font size
$font-med: 1.125rem;
$font-small: 0.825rem;
$font-mediumlarge: 1.25rem;
$font-xlarge: 3.25rem;
